@tailwind base;
@tailwind components;
@tailwind utilities;

/** Dashboard */

.dashboard-card-container,
.album-collection {
    display: flex;
    flex-flow: column wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.dashboard-card,
.album-link {
    flex: 1 0 240px;
    width: 240px;
    min-width: 240px;
    height: calc(240px / 2);
    min-height: calc(240px / 2);
    max-height: calc(240px / 2);
    box-sizing: border-box;
}

.dashboard-card {
    color: #1d1e20;
    background: linear-gradient(90deg, #f1f3f9, #dee3ed);
    border-radius: .5rem;
    margin: 1rem;
    padding: 1.5rem;
}

.dashboard-card > .counter-card {
    font-weight: bold;
    font-size: 32px;
}

.dashboard-card > .element-card {
    font-size: 22px;
}

/** Albums page */

.album-link {
    color: #1d1e20;
    background: linear-gradient(90deg, #f1f3f9, #dee3ed);
    background-size: cover;
    display: block;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

.album-link > div {
    text-shadow: 0 0 3px #1d1e20;
    color: #f1f3f9;
    background: rgba(29, 30, 32, .25);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 1.5rem;
}

.album-link > div > .album-title {
    font-weight: bold;
    font-size: 22px;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 1.5rem;
}

.album-link > div > .album-counter {
    font-size: 16px;
    padding: 0 1.5rem;
}

/**  Responsive design */

@media (min-width: 640px) {
    .dashboard-card-container,
    .album-collection {
        flex-flow: row wrap;
    }

    .dashboard-card {
        flex: 1 0 260px;
        width: 260px;
        max-width: 260px;
        height: calc(260px / 2);
        max-height: calc(260px / 2);
    }

    .album-link {
        flex: 1 0 calc(50% - (1.5rem * 2));
        width: calc(50% - (1.5rem * 2));
        min-width: calc(50% - (1.5rem * 2));
        max-width: calc(50% - (1.5rem * 2));
        height: 130px;
        min-height: 130px;
        max-height: 130px;
    }
}

@media (min-width: 768px) {
    .dashboard-card {
        flex: 1 0 360px;
        width: 360px;
        max-width: 360px;
        height: calc(360px / 2);
        min-height: calc(360px / 2);
        max-height: calc(360px / 2);
    }

    .album-link {
        height: 180px;
        min-height: 180px;
        max-height: 180px;
    }
}

@media (min-width: 1024px) {
    .dashboard-card {
        flex: 1 0 440px;
        width: 440px;
        max-width: 440px;
        height: calc(440px / 2);
        min-height: calc(440px / 2);
        max-height: calc(440px / 2);
    }

    .album-link {
        height: 220px;
        min-height: 220px;
        max-height: 220px;
    }

    .dashboard-card > .counter-card {
        font-weight: bold;
        font-size: 37px;
    }
    
    .dashboard-card > .element-card {
        font-size: 27px;
    }
}