@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-card-container {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.dashboard-card {
    flex: 1 0 288px;
    color: #1d1e20;
    background: linear-gradient(90deg, #f1f3f9, #dee3ed);
    width: 288px;
    border-radius: .5rem;
    margin: 1rem;
    padding: 1.5rem;
}

.dashboard-card > .counter-card {
    font-weight: bold;
    font-size: 32px;
}

.dashboard-card > .element-card {
    font-size: 22px;
}